#btnSpin {
    font-size: 4em;
    font-weight: bolder;
    padding: .75em
}

#blkDisplay {
    font-size: 150px;
    border: 1px solid gray;
}

#lblDisplay {
    width: 15%;
    display: inline-block;
}

#lblBalanceText {
    font-size: 2em;
}

#btnIncrementBet, #btnDecrementBet {
    font-size: 2em;
    font-weight: bolder;
    padding: .75em;
}